env
*.swp
*.DS_Store
*.pyc
__pycache__
db
largescale_final_project/largescale_final_project/secrets.py
largescale_final_project/largescale_final_project/secrets_sharding.py
largescale_final_project/renting_app/migrations
Procfile
rental.sql

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
