
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "largescale_final_project.settings"
    "RDS_DB_NAME": "rental_app"
    "PYTHONPATH": "/opt/python/current/app/largescale_final_project:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: largescale_final_project/largescale_final_project/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"


container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python3 largescale_final_project/manage.py makemigrations --noinput"
    command: "source /opt/python/run/venv/bin/activate && python3 largescale_final_project/manage.py migrate --noinput"
    leader_only: true

  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python3 largescale_final_project/manage.py collectstatic --noinput"
