{% extends 'base.html' %}
{% block content %}
<div class="item_page">

<h3><bold>

          {{ item.name }}

      </bold></h3>
      <h4>Category: {{ item.category.name }}</h4>
          <p>Description: {{ item.description }}</p>
          <p>Rate per per day: ${{ item.asking_price }}</p>
          <hr>
        <p>Listed by:
          <a href="{% url 'profile' item_user.user_id %}">
             {{ item_user.username }}
          </a></p>
          <p>Zip Code: {{item_user.zip_code}}</p>
          <br>

          {% if show_email_form %}
          <h4>Contact {{ item_user.username }}:</h4>
          <form action="" method="post" id="request-form">
          {% csrf_token %}
          <input value="{{ item.name }}" name="item" id="item" hidden>
          Your email:
          <input type="email" id="email" name="email">
          <small>Leave blank to use email registered with.</small>

          <br><br>

            Message:
            <textarea name="message" id="message" required></textarea>
          <br><br>
          <button type="submit" class="btn btn-primary">Send</button>

        </form>


        {{ message }}
  {% endif %}
</div>
{% endblock %}
