{% load staticfiles %}
<html>
<head>
<title></title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'renting_app/style.css' %}" type="text/css">

</head>

<body>
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container " >
          <!-- <div class="col-md-8"> -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/renting_app/home">Renting App</a>

            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="/renting_app/home">Home</a></li>
                {% if user_id %}
                <li><a href="/renting_app/add-item">List an Item</a></li>
                <li>
                  <form id="searchform" action="/renting_app/search" method="get" accept-charset="utf=8">
                    <div class="input-group" style="width: 250px; margin: 12px auto 12px 12px" >
                      <a>
                        <input type="search" name="query" placeholder="search for item or user" value="" class="form-control">
                      </a>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" >search</button>
                      </span>
                    </div>
                  </form>
                </li>
                {% endif %}
              </ul>

              <!-- <div> -->
              <ul class="nav navbar-nav navbar-right">
                {% if user_id %}
                <li><a href="/renting_app/logout">Logout</a></li>
                <li><a href="/renting_app/profile/{{ user_id }}">My Profile</a></li>
                {% else %}
                <li><a href="/renting_app/register">Register</a></li>
                <li><a href="/renting_app/login">Login</a></li>
                {% endif %}

              </ul>
            }
          </div>
        </div>
    </nav>

<div class="container">

{% block content %}{% endblock %}

</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
